body {
    background-color: #babcbe;
    font-family: "Roboto Slab", serif;
}

.error-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 91.4vh;
}

.error-page.dark{
    background-color: #333;
}